.header {
    background-image: url("../../assets/img/portada.png");
    background-size: cover;
    height: 300px;
    padding: 80px;
}

h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -1px;
    font-size: 4rem;
    line-height: 1em;
    word-spacing: 0.1em;
    color: white;
}

.home {
    background: rgb(96,187,186);
    background: linear-gradient(180deg, rgba(96,187,186,1) 25%, rgba(69,52,179,1) 100%);
}

.spinner-grow {
    width: 10rem; 
    height: 10rem;
    margin: 100px;
}

.card {
    flex: 1 350px;
    margin: 30px 10px 30px 10px;
}

.img-card {
    width: 250px;
    height: 350px;
}